body {
  background: black;
  font-family: "aktiv-grotesk-std",sans-serif !important;

}

/* estilo de Portable identity Master Head*/
.tituloprojecto{
  position: fixed;
  font-size: 30px;
  left: 33px;
  text-decoration: underline;
  top: 25px;
  color: #fff;
}

.btn {
  display: inline-block;
  position: absolute;
  font-style: italic;
  border: none;
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
  left: -106px;
  top: 0;
  padding: 6px 14px;

  background: #FFFFFF;
}

/* Tooltip */

.seperator{
  opacity: .2;
}
/* texto blanco del UL en tooltip */
.blanco{
  color:#fff;
}

.d3plus_label {
  fill: #fff !important;
  /*font-size: 20px !important;*/
}

.d3plus_rect rect {

  opacity: 1 !important;
  /*
  rx: 1.5229275226593px !important;
  ry: 1.5229275226593px !important;
  width: 1.5229275226593px !important;
  height: 1.5229275226593px !important;
  */
}

ul {
    list-style-type: none;
    color: #000;
    font-size: 13px;
    line-height: 23px;
    padding: 0 10px;
}

.d3plus_tooltip_data_title{
  display: none !important; 
}

.d3plus_tooltip_focus_link{
  color: #fff !important;
  padding-left: 0 !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

.d3plus_tooltip_focus_link div {
  display: none !important;
}

.tipo {
  position: absolute;
  display: block;
  top: 3px;
  left: -115px;
  font-size: 15px;
  color: #FF0029;
}

.d3plus_tooltip_data_seperator{
  opacity: .2 !important;
}

.d3plus_tooltip_title{
  color: #fff !important;
  padding: 7px 0px 7px 0px !important;
}

.d3plus_color rect{
  display: none !important;
}

#clipping_default975 rect {
  height: 100% !important;
  width: 100% !important;
}

