body {
  background: black;

}
.tituloprojecto{
  position: fixed;
  font-size: 30px;
  left: 33px;
  text-decoration: underline;
  top: 0;
}
.title{
  position: absolute;
  width: 280px;
  top: -5px;
  right: 250px;
  background: #fff;
  text-align: right;
  color: #000;
}
.btn {
  display: inline-block;
  position: absolute;
  font-style: italic;
  border: none;
  text-decoration: none;
  color: #000;

  transition: all 0.2s;
  left: -106px;
  top: 60px;
  padding: 6px 14px;

  background: #FFFFFF;
}



.tipo {
  position: absolute;
  display: block;
  top: 3px;
  font-size: 15px;
  color: #FF0029;
}

.blanco{
  color:#fff;
}
.seperator{
  opacity: .2;
}

.label_nodo{
  color: #fff;
}

ul {
    list-style-type: none;
    font-family: "aktiv-grotesk-std",sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 23px;
    padding: 0 10px;
}
.line {
  stroke-width: .4px;
}
.link {
  stroke: rgba(94,94,94,.7);
  stroke-width: 1;
}
.project {
    fill: #ccc;

}
.circle {
  fill: #FF0202;
}

.project, line {
  cursor:pointer;
}

.project text {
  fill: white;
  
  font-family: "aktiv-grotesk-std",sans-serif;';
  font-size: 16px;

  fill-opacity:0;
}

.project:hover text {
  fill-opacity:1;
}

.project text.shadow {
  fill: white;
  fill-opacity:0;
}

.project:hover text.shadow {
  stroke: #00DE7A;
  stroke-width: 10px;

}

.tag text {
  font-family: "aktiv-grotesk-std",sans-serif;
  fill: #9B9D9E;

  font-size: 10px;
  cursor:grabbing;
}